* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-header-gradient1: #574ae8;
  --color-header-gradient2: #3ea1db;
  --color-header-white: #fff;
  --color-header-gray: rgba(255, 255, 255, 0.2);
}

body {
  background-color: #f3f5f7;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    var(--color-header-gradient1),
    var(--color-header-gradient2)
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 150px;
  margin: 0px 20px 20px 20px;
}

.text-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
  color: var(--color-header-white);
}

.seach-container {
  display: flex;
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  background-color: var(--color-header-gray);
}

.seach-container img {
  padding: 0px 12px 0px 12px;
  width: 40px;
  height: 40px;
}

.seach-container input {
  width: 90%;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: var(--color-header-white);
}

.seach-container input::placeholder {
  color: var(--color-header-white);
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}

.seach-container input:focus {
  outline: 0;
}

.dark-mode {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--color-header-white);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
}

.container-news{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.news-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  margin: 0px 20px 25px 20px;
  max-width: 1200px;
}

.data-and-liked {
  display: flex;
  justify-content: space-between;
  padding: 16px 15px 27px 15px;
  color: #717171;
  font-size: 14px;
  line-height: 17.5px;
}

#icon {
  fill: #574ae801;
  stroke: #574ae8;
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}

#icon.filled,
#icon:hover {
  fill: #574ae8;
}

.text-card {
  margin: 0px 16px 0px 16px;
}

.text-card h3 {
  padding-bottom: 9px;
  color: #1a202c;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.text-card p {
  color: #717171;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 15px;
}

@media(min-width:1200px){
    .news-card{
        margin: 0px 0px 25px 0px;
    }

}
